# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
/libs/
/logs/
/.architectury-transformer/

/HeadlessMC/
/.vscode/
pb-*/logs/
pb-security/*/logs/
pb-security/plugin/test/
/pingbypass/
/pb-commons/logs/
/pb-api/logs/
/pb-server/logs/
/pb-client/logs/
